<h4>Hi <%= session[:player_name] %>!</h4>

<div class="well">
  <h5>Dealer cards</h5>
  <% session[:dealer_hand].each_with_index do |card, idx| %>
    <% if (!@show_dealer_card) && (idx == 0) %>
      <%= '<img class="image-card" src=' + cover_card + ' /> ' %>
    <% else %>
      <%= '<img class="image-card" src=' + show_card(card) + ' />' %>
    <% end %>
  <% end %>
</div>

<div class="well">
  <h5>Your cards</h5>
  <% session[:player_hand].each do |card| %>
    <%= '<img class="image-card" src=' + show_card(card) + ' />' %>
  <% end %>
</div>

<% if @show_hit_or_stay_buttons %>
  <p>Your total is: <%= @player_points %>.</p>
  <p>What would you like to do?</p>
  <form id="hit-form" action="/player_hits" method="post">
    <button type="submit" class="btn btn-success">Hit</button>
  </form>
  <form id="stay-form" action='/dealer_turn' method="post">
    <button type="submit" class="btn btn-warning">Stay</button>
  </form>
<% end %>