<h4>Hi <%= session[:player_name] %>!</h4>

<div class="well">
  <h4>Dealer cards</h4>
  <% session[:dealer_hand].each_with_index do |card, idx| %>
    <% if (!@show_dealer_card) && (idx == 0) %>
      <%= '<img class="image-card" src=' + cover_card + ' /> ' %>
    <% else %>
      <%= '<img class="image-card" src=' + show_card(card) + ' />' %>
    <% end %>
  <% end %>
  <% if @show_next_card_button %>
    <h5>Dealer has <%= @dealer_points %> and will hit.</h5>
    <form action="/dealer_hits" method="post">
      <button class="btn btn-info">Show dealer card &rarr;</button>
    </form>
  <% end %>
</div>

<div class="well">
  <h4>Your cards</h4>
  <% session[:player_hand].each do |card| %>
    <%= '<img class="image-card" src=' + show_card(card) + ' />' %>
  <% end %>
</div>

<% if @show_hit_or_stay_buttons %>
  <p>Your total is: <%= @player_points %>.</p>
  <p>What would you like to do?</p>
  <form class="left-button" action="/player_hits" method="post">
    <button type="submit" class="btn btn-success">Hit</button>
  </form>
  <form class="right-button" action='/player_stays' method="post">
    <button type="submit" class="btn btn-warning">Stay</button>
  </form>
<% end %>

<% if @replay %>
  <p>Replay?</p>
  <a href="/make_bet" class="btn btn-success left-button">Yes</a>
  <a href="/end_game" class="btn btn-warning right-button">No</a>
<% end %>